{% extends 'frontend_app/base.html' %}
{% load static %}
{% block title %}Successfully Account Activation Done{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
  <h4>Successfully! Account Activation Done</h4>
  <div><iframe style="alignment: center" src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
  <h2 style="text-align: center">We are redirecting you to Login Page in few seconds...<h2 id="timer" style="text-align: center"></h2></h2>
  </div>
 </div>
</div>
<script>
    var count = 5

    var counter = setInterval(timer , 1000)

    function timer(){
       count = count-1
       if (count <= 0)
       {
           clearInterval(counter);
           window.location.href = "{% url 'login' %}"
       }
       document.getElementById("timer").innerHTML= count + " secs";

}
</script>
{% endblock main-content %}